/* Add your custom CSS here */


/*nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trans-000) }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: rgba(0, 0, 0, 0.5) }
header.hero-bg > .container-overlay { background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)); } */

nav.theme-dark ul.links-wrapper li a:focus,
nav.theme-dark ul.links-wrapper li a:hover,
nav.theme-dark ul.links-wrapper li a:active { color: var(--red-600) }
nav.theme-dark a#btn-cta:link,
nav.theme-dark a#btn-cta:visited { background-color: var(--white-000) }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { border-color: var(--red-600) }
nav.theme-dark a#btn-cta:focus,
nav.theme-dark a#btn-cta:hover,
nav.theme-dark a#btn-cta:active { color: var(--red-600) }

.section-selector-1 { background-color: var(--red-700) }
.section-selector-1 h3 { line-height: 1.5; }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { border-color: var(--red-600) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { background-color: var(--black-000) }

header.theme-dark .container-btn a.btn:nth-child(2):focus,
header.theme-dark .container-btn a.btn:nth-child(2):hover,
header.theme-dark .container-btn a.btn:nth-child(2):active { color: var(--red-600) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { border-color: var(--red-600) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { background-color: var(--white-000) }

header.theme-dark .container-btn a.btn:nth-child(1):focus,
header.theme-dark .container-btn a.btn:nth-child(1):hover,
header.theme-dark .container-btn a.btn:nth-child(1):active { color: var(--red-600) }

.theme-light .col-1 h3 { color: var(--white-000); }

footer ul.footer-links li a:link, footer ul.footer-links li a:visited {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1920 - 320)));
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    text-decoration-color: var(--red-600);
    color: var(--white-000);
    transition: all 0.2s linear;
}

footer p.privacy a:link, footer p.privacy a:hover {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1920 - 320)));
    text-decoration: underline;
    text-decoration-thickness: auto;
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
    text-decoration-color: var(--red-600);
    color: var(--white-000);
    transition: all 0.2s linear;
}

footer.theme-dark {
    background-color: var(--black-000);
}


.theme-light div[class^='col-'] a[class^='col-']:link, .theme-light div[class^='col-'] a[class^='col-']:visited {
    color: var(--black-000);
    text-decoration: underline;
    text-decoration-color: red;
}
.theme-light h3, .theme-light .col-1 h3.in-col-1, .theme-light p, .theme-light li {
    color: #ffffff;
}
a:not(.btn):link, a:not(.btn):visited {
    text-decoration: underline;
    text-decoration-color: red;
    transition: all 0.2s linear;
    color:white;
}

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { color: var(--red-600) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { border-color: var(--black-000) }

.section-selector-1 a.btn:focus,
.section-selector-1 a.btn:hover,
.section-selector-1 a.btn:active { background-color: var(--black-000) }

#contact-form #btn-submit:focus { border-color: var(--red-500) }
#contact-form #btn-submit:hover { border-color: var(--red-500) }
#contact-form #btn-submit:focus { color: var(--red-500) }
#contact-form #btn-submit:hover { color: var(--red-500) }
#contact-form #btn-submit:focus { background-color: var(--black-000) }
#contact-form #btn-submit:hover { background-color: var(--black-000) }

section {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 4% 4% 4% 4%
}
@media (max-width: 767px) {
    nav.theme-dark.menu-sticky.menu-on-scroll,
    nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active {
        background-color: #000;
    }
}
